# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Build products
build/
*.o
*.d

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# App-specific
fitforge_snapshot.json
